## Example of Filtered Historical Simulation VaR

In [1]:
import pandas as pd
import numpy as np

In [4]:
import quandl

In [21]:
tsla = quandl.get("WIKI/AAPL", start_date="2015-03-12", end_date="2016-03-12",\
                 transformation="rdiff")

In [22]:
tsla.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2015-03-13,0.017088,0.003964,0.007811,-0.006910,0.071637,NaN,0.0,0.017088,0.003964,0.007811,-0.006910,0.071637
2015-03-16,-0.004180,-0.003550,0.002366,0.011004,-0.307811,NaN,0.0,-0.004180,-0.003550,0.002366,0.011004,-0.307811
2015-03-17,0.016306,0.018968,0.022626,0.016727,0.422275,NaN,0.0,0.016306,0.018968,0.022626,0.016727,0.422275
2015-03-18,0.008737,0.014452,0.005730,0.011256,0.279243,NaN,0.0,0.008737,0.014452,0.005730,0.011256,0.279243
2015-03-19,0.013780,0.000659,0.008151,-0.007589,-0.298164,NaN,0.0,0.013780,0.000659,0.008151,-0.007589,-0.298164

In [36]:
#We're going to look just at Close price
tsla_close = tsla["Adj. Close"].to_frame().rename(columns={"Adj. Close":"Close"})

In [37]:
#confirm number of trading days
print(len(tsla_close))

252

In [38]:
tsla_close

               Close
Date
2015-03-13 -0.006910
2015-03-16  0.011004
2015-03-17  0.016727
2015-03-18  0.011256
2015-03-19 -0.007589
...              ...
2016-03-07 -0.011067
2016-03-08 -0.008246
2016-03-09  0.000891
2016-03-10  0.000494
2016-03-11  0.010774

[252 rows x 1 columns]

In [39]:
#Calculate returns and volatility
tsla_close['Returns'] = tsla_close.Close.pct_change()

In [40]:
tsla_close

               Close    Returns
Date
2015-03-13 -0.006910        NaN
2015-03-16  0.011004  -2.592399
2015-03-17  0.016727   0.520038
2015-03-18  0.011256  -0.327046
2015-03-19 -0.007589  -1.674229
...              ...        ...
2016-03-07 -0.011067  -1.743900
2016-03-08 -0.008246  -0.254912
2016-03-09  0.000891  -1.108034
2016-03-10  0.000494  -0.444939
2016-03-11  0.010774  20.789226

[252 rows x 2 columns]

In [42]:
#Calculate daily volatility over this period
vol = np.std(tsla_close.Returns)
print(f"Volatility is {vol}")

Volatility is 15.085488240917515